<%- include('../layout/header') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">แก้ไขรหัสผ่าน</h1>
        </div>
        <%if (msg) {%>
            <div style="text-align: center" class="alert alert-<%-msg.type%>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              </strong> <%-msg.msg%>
            </div>
            <%}%>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แก้ไขรหัสผ่าน</h6>
            </div>
            <div class="card-body">
                <form id="form" class="row g-3" action="/users/confirm-password" method="post">
                    <input type="hidden" value="<%=  user_list._id %>" name="update_id" />
                    <div class="form-group col-md-12">
                        <label class="control-label col-sm">รหัสผ่านเดิม</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="old_password" name="oldpassword" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-sm">รหัสผ่านใหม่</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" name="newpassword" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-sm-offset-4 col-sm">
                            <button type="submit" class="btn btn-primary">บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <%- include('../layout/footer') %>