<%- include('../layout/header') %>
    <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">รายงานสรุปใบเบิก</h1>
                     
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row m-0 p-0">
                                <div class="col-sm-6 row ">
                                    <div class="col-sm-2"><h5>ค้นหา</h5></div>
                                    <div class="col-sm-4 input-group mb-2">
                                        <input type="text" class="datepicker form-control" id="startDate" value="<%=startDate || 0 %>">
                                    </div>
                                    <div class="col-sm-1">ถึง</div>
                                    <div class="col-sm-4 input-group mb-2">
                                        <input type="text" class="datepicker form-control" id="endDate" value="<%= endDate || 0 %>">
                                    </div>
                                    <button onclick="search()"class="btn btn-danger">ค้นหา</button>
                                  
                                </div>
                               
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>รหัส</th>
                                            <th>รายการ</th>                                           
                                            <th>จำนวนที่เบิก</th>
                                            <th>หน่วย</th>
                                        
                                        </tr>
                                    </thead> 
                                    <tbody>
                                         
                                        <% for(let i = 0,j=1; i < categorys.length; i++){ %>
                                            <tr>
                                                <td></td>                  
                                                <td><b>หมวดหมู่ : <%= categorys[i].name %></b></td>                             
                                            </tr>
                                            <%  Object.values(disbursements.item).forEach(function(pro){%>
                                                <%if(pro.item.category == categorys[i]._id){ %>
                                                    <tr>
                                                        <td><%= j++%></td>
                                                        <td><%= pro.item.code%></td>
                                                        <td><%= pro.item.name%></td>
                                                        <td><%= pro.qty%></td>
                                                        <td><%= pro.item.unit[0].name%></td>
                                                    </tr>    
                                                <% } %>
                                                
                                            <% }) %>
                                        <% }%>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                   
                       
                        

                    

                </div>
                <script>
                    function search() {
                        let startDate = $('#startDate').val()+'-01'
                        let endDate = $('#endDate').val()+'-31'
                        let url = '/reports/disbursement_report/search/'+startDate+'/'+endDate;
                        window.location.href = url;
                    }
                  </script>
                <!-- /.container-fluid -->
<%- include('../layout/footer') %>
            