<%- include('../layout/header') %>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Add Material</h1>

    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Material</h6>
      </div>
      <div class="card-body">
        <form id="form" class="row g-3" action="/product/insert" method="POST" enctype="multipart/form-data">
          <div class="form-group col-md-6">
            <label class="control-label col-sm">รหัส</label>
            <div class="col-sm">
              <input type="text" class="form-control" name="code" disabled>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="control-label col-sm">ชื่อ</label>
            <div class="col-sm ">
              <input id="proname" type="text" class="form-control" name="name">

            </div>
          </div>


          <div class="form-group col-md-6">
            <label class="control-label col-sm">หมวดหมู่</label>
            <div class="col-sm ">
              <select class="form-control" name="category" id="category">
                <option selected disabled value="">Choose...</option>
                <% for(let i=0; i < categorys.length; i++) { %>
                  <option value="<%= categorys[i].id %>">
                    <%= categorys[i].name %>
                  </option>
                  <% } %>
              </select>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="control-label col-sm">หน่วยนับ</label>
            <div class="col-sm">
              <select class="form-control" name="unit" id="unit">
                <option selected disabled value="">Choose...</option>
                <% for(let i=0; i < units.length; i++) { %>
                  <option value="<%= units[i].id %>">
                    <%= units[i].name %>
                  </option>
                  <% } %>
              </select>
              <div class="error"></div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="control-label col-sm">จำนวนคงเหลือ</label>
            <div class="col-sm">
              <input type="number" class="form-control" name="quantity" value="0" disabled>
            </div>
          </div>
          <div class="form-group col-md-6 ">
            <label class="control-label col-sm">สถานะ</label>
            <div class="col-sm form-check form-check-inline">
              <div class="col-sm-3">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="status" id="membershipRadios1" value="1" checked>
                  Enabled
                </div>
              </div>
              <div class="col-sm-2.5">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="status" id="membershipRadios2" value="0"> Disabled
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label col-sm">รายละเอียด</label>
            <div class="col-sm">
              <textarea id="description" class="form-control" cols="30" rows="4" name="description"></textarea>
            </div>

          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-sm">รูปภาพ</label>
            <div class="col-sm""> 
              <div class=" custom-file">
              <input type="file" id="image" class="form-control" name="image" accept="image/*"
                onchange="preview()">
             
            </div>
            <div class="preview-image">
              <img id="frame" src="" />
            </div>
          </div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-sm-offset-4 col-sm">
          <button type="submit" class="btn btn-primary">บันทึก</button>
        </div>
      </div>
      </form>
    </div>
  </div>

  </div>


  <!-- /.container-fluid -->
  <%- include('../layout/footer') %>